<footer class="page-footer font-small indigo-p-pink">
    <div class="container text-center text-md-left mt-5">



        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">
                    SSIS - Sub Secretaría de Integración Social</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Secretaria de Estado, Rectora de las Políticas Sociales y Articuladora de Programas y Proyectos, orientados a la Reducción de la Pobreza, con Oportunidades de Inclusión y Desarrollo Humano de forma integral a los Sectores Vulnerables,
                    en riesgo y en exclusión social.
                </p>

            </div>
            <!-- Grid column -->




            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contactanos</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <mat-icon>home</mat-icon> <br>
                    <span>Col. Tepeyac, Calle Yuscarán, Frente a Restaurante Palacio Real, Tegucigalpa, Honduras, Centroamérica.</span>
                </p>
                <p>
                    <mat-icon>email</mat-icon>
                    <br>
                    <span>transparencia@sedis.gob.hn</span>
                </p>
                <p>
                    <mat-icon>call</mat-icon><br>
                    <span>+(504) 2239-4182.</span>
                </p>
                <p>
                    <mat-icon>how_to_reg</mat-icon><br>
                    <span>Horario de Atención: 8:00 a.m. - 4:00 p.m.</span>
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>


    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/angular/"> Wikis.com</a>
    </div>
</footer>