<div class="row text-center animated fadeIn">
    <div class="col">
        <div class="spinner-grow text-dark" style="width: 1.5rem; height: 1.5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" style="width: 2.5rem; height: 2.5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" style="width: 3.5rem; height: 3.5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" style="width: 4.3rem; height: 4.3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </div>
</div>