<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5">
        <div class="col-12">

            <mat-tab-group dynamicHeight>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">account_balance</mat-icon>
                        Rol
                    </ng-template>
                    <app-rol></app-rol>
                </mat-tab>
                <mat-tab>

                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">account_balance</mat-icon>
                        Usuario
                    </ng-template>
                    <app-user></app-user>
                </mat-tab>


            </mat-tab-group>

        </div>

    </div>

</div>