<header>
    <div class="fixed-top">
        <mat-toolbar color="primary">
            <mat-toolbar-row>

                <span>Hulk Store</span>



                <span class="example-spacer"></span>
                <div class="ident">

                    <div *ngIf="identity">
                        <mat-icon>account_circle</mat-icon>
                        <span>{{identity.userName}}</span>

                    </div>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item [routerLink]="['login']" *ngIf="!identity">
                        <mat-icon>fingerprint</mat-icon>
                        <span >Inicio sesión</span>
                    </button>



                    <button mat-menu-item (click)="logout()" *ngIf="identity">
                        <mat-icon>power_settings_new</mat-icon>
                        <span >Cierre sesión</span>
                 </button>



                    <div *ngIf="identity">
                        <button mat-menu-item [routerLink]="['seguridad']" *ngIf="identity.rol == 'admi'">
                        <mat-icon>verified_user</mat-icon>
                        <span >Seguridad</span>
                    </button>
                    </div>


                    <div *ngIf="identity">
                        <button mat-menu-item [routerLink]="['usuarios']" *ngIf="identity.rol == 'admi'">
                        <mat-icon>home_work</mat-icon>
                        <span>Clientes </span>
                    </button>
                    </div>

                    <div *ngIf="identity">
                        <button mat-menu-item [routerLink]="['categoria']" *ngIf="identity.rol == 'admi'">
                        <mat-icon>home_work</mat-icon>
                        <span> Agregar Categoria </span>
                    </button>
                    </div>

                    <div *ngIf="identity">
                        <button mat-menu-item [routerLink]="['categoria']" *ngIf="identity.rol == 'admi'">
                        <mat-icon>home_work</mat-icon>
                        <span>Agregar producto </span>
                    </button>
                    </div>

                    <div *ngIf=" identity ">
                        <button mat-menu-item [routerLink]="['productos']">
                        <mat-icon>book</mat-icon>
                        <span>Productos</span>

                    </button>
                    </div>
                    <button mat-menu-item [routerLink]="['registro']" *ngIf="!identity">
                        <mat-icon>person_add</mat-icon>
                        <span >Regístrate</span>
                    </button>

                </mat-menu>

            </mat-toolbar-row>


        </mat-toolbar>


    </div>
</header>


<main role="main ">
    <router-outlet></router-outlet>

</main>

<app-footer></app-footer>