.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.grid-container {
    width: 300px;
    margin: auto;
    width: 1200px;
}

table {
    width: 100%;
    font-size: 38px;
}

button {
    margin: 16px 8px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-button-row {
    float: none;
    text-align: center;
}

.example-tab-icon {
    margin-right: 8px;
}

.example-stretched-tabs {
    max-width: 800px;
}

p {
    max-height: 3.5rem;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.example-small-box,
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-small-box {
    height: 100px;
    width: 100px;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}